.container{
   
   max-width: 960px;
   margin: 0 auto;
    
 
}


.divCol{
   display: flex;

}
   


.divRow{
   flex: 1;
   /* background-color: blue;
    border-style: solid;
  border-color: red; */
}
  